django~=2.0.1
djangorestframework
jsonfield
coreapi
coreapi-cli
py-cpuinfo
psutil
gpustat
numpy
dash==0.20.0
dash-renderer==0.11.2
dash-html-components==0.8.0
dash-core-components==0.18.0
dash-table-experiments==0.5.4
plotly
psycopg2
gunicorn
